*{
    margin: 0px;
    padding: 0px;

    direction: rtl;
}

.topNavBar{
    background-color: rgb(99, 206, 99);
    width: 100%;
    padding: 15px 0px;
    
}

.topNavBar li{
    list-style-type: none;

    padding: 5px;
    display: inline;
}
/* image */
.topNavBar li img{
    padding: 5px;
    float: right;
}
/* text with image */
.topNavBar .textWithImg{
    float: right;
}

.topNavBar .ratil{
    margin: 0px;
    text-align: center;

}

/* declaring fonts */
.amiri-regular {
    font-family: "Amiri", serif;
    font-weight: 500;
    font-size: x-large;
    font-style: normal;

    margin-right: 8px;
    color: white;
}
.noto-sans-arabic{
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    color: white;
}

/* finishing nav bar */

/* starting body that about shaik and site service*/
.allAboutShaikAndSite{
    width: 80%;

    margin-top: 75px;
    
    margin-left: auto;
    margin-right: auto;

    padding: 10px 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    border: 1px solid white;
    border-radius: 10px;
}

.aboutShaik{
    font-family:"Noto Sans Arabic", sans-serif;
}
.textAboutShaik, .textAboutSite{
    font-size: x-large;
    font-weight: 600;
}

