*{
    margin: 0px;
    padding: 0px;

    direction: rtl;
}

.topNavBar{
    background-color: rgb(99, 206, 99);
    padding: 20px;
    width: 99%;
    float: right;
    
}

.topNavBar ul{
    text-align: center;
}

.topNavBar li{
    list-style-type: none;

    padding: 5px;
    display: inline;
}
/* image */
.topNavBar li img{
    padding: 5px;
    float: right;
}
/* text with image */
.topNavBar .textWithImg{
    float: right;
}


.topNavBar .shaykAyoub span{
    margin: 0px;

}

/* declaring fonts */
.amiri-regular {
    font-family: "Amiri", serif;
    font-weight: 500;
    font-size: x-large;
    font-style: normal;

    margin-right: 8px;
    color: white;
}
.noto-sans-arabic{
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    color: white;
}