*{
    margin: 0px;
    padding: 0px;

    direction: rtl;
}

.topNavBar{
    background-color: rgb(99, 206, 99);
    width: 100%;
    padding: 15px 0px;
    
}

.topNavBar li{
    list-style-type: none;

    padding: 5px;
    display: inline;
}
/* image */
.topNavBar li img{
    padding: 5px;
    float: right;
}
/* text with image */
.topNavBar .textWithImg{
    float: right;
}

.topNavBar .ratil{
    margin: 0px;
    text-align: center;

}

/* declaring fonts */
.amiri-regular {
    font-family: "Amiri", serif;
    font-weight: 500;
    font-size: x-large;
    font-style: normal;

    margin-right: 8px;
    color: white;
}
.noto-sans-arabic{
    font-family: "Noto Sans Arabic", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:"wdth" 100;

    color: white;
}

/* finishing nav bar */

/* starting body that about shaik and site service*/
.allAboutShaikAndSite{
    width: 80%;

    margin-top: 75px;
    
    margin-left: auto;
    margin-right: auto;

    padding: 10px 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    border: 1px solid white;
    border-radius: 10px;
}

.aboutShaik{
    font-family:"Noto Sans Arabic", sans-serif;
}
.textAboutShaik, .textAboutSite{
    font-size: x-large;
    font-weight: 600;
}
/* finishing about the shaik */

/* start the audio and description things */

.mainWork{
    width: 90%;
    height: 600px;

    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;

    padding: 10px 20px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

    border: 1px solid white;
    border-radius: 10px;
}

/* starting aside */
.mainWork aside{
    float: left;

    height: 95%;

    width: 13%;

    padding: 8px;
    margin: 10px 5px;

    overflow: scroll;
    
    border: none;
    border-radius: 10px;
    
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.mainWork aside ul li{
    list-style: none;

    border: 1px black;
}

/* customize the button */
button{
    background-color: white;

    font-size: medium;

    color: black;
    padding: 5px;

    border: none;
    border-radius: 6px;

}
button:hover{
    background-color: rgb(66, 66, 223);
    color: white;

    -webkit-transition: 0.2s;
}
/* finishing aside */

/* start main section */
.surah{
    float: right;

    width: 60%;
    height: 90%;

    font-family: "Noto Sans Arabic", sans-serif;

    border: 1px solid black;
    border-radius: 10px;
}

.innerSurah{
    width: 95%;
    height: 95%;

    padding: 20px;
}

/* inner text */

.surahTitle{
    font-size: x-large;
    font-weight: 550;
}
.surahDesc{
    text-decoration: underline;

    margin: 10px;

    font-size: large;
    font-family: "Amiri", serif;
}
.surahAudio{
    width: 60%;
}
/* finishing the main section*/